html {
  margin: 0;
}

body {
  background: #ecf0f1;
  font-family: 'Raleway', sans-serif;
  color: #34495e;
  font-size: 18px;
  height: 100vh;
}

.title.is-3 {
  font-family: 'Rock Salt', cursive;
  padding: .8em .8em;
  margin-bottom: 0;
}

header {
  background: #ecf0f1;
}

.addTodo {
  width: 100%;
  margin-bottom: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__addTodo {
  width: 73%;
  padding: .5em;
  line-height: 30px;
  font-size: 18px;
  border-radius: 6px;
  border-style: none;
  box-shadow: 5px 10px 18px #afafaf;
}

.button {
  margin-left: 1em;
  box-shadow: 5px 5px 10px #afafaf;
}

li.tile {
  margin-bottom: .7em;
  margin: 0 1em .7em 1em;
  border: 1px solid #16a085;
  border-radius: 6px;
  padding: .7em;
  background: #1abc9c;
  color: #ecf0f1;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2em;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

a {
  color: #209cee;
}